/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ececf0;
    color: black;
    font-family: 'Solway', serif;
    background-image: url('./assets/rollo.png'), url('./assets/rollo.png');
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-size: 50px;
}