<section ngClass="details-all-movies">
  <input
    type="text"
    [formControl]="searchTerm"
    placeholder="Write here the title you are looking for..."
    ngClass="search-input"
    (input)="onSearchInput()"
    (keyup.enter)="performSearch()"
  />

  <div *ngIf="searchError" ngClass="error-message">
    <p>{{ searchError }}</p>
  </div>

  <main *ngIf="movies.length > 0">
    <section ngClass="movie-list">
      <div
        *ngFor="let movie of movies"
        (click)="selectMovie(movie)"
        ngClass="movie-item"
      >
        <div ngClass="movie-info">
          <h3>Title: {{ movie.Title }}</h3>
          <h4>Year: {{ movie.Year }}</h4>
          <img [src]="movie.Poster" alt="{{ movie.Title }} Poster" />
        </div>

        <div *ngIf="selectedMovie" ngClass="selected-movie-details">
          <app-movie [movie]="selectedMovie"></app-movie>
        </div>
      </div>
    </section>
  </main>
</section>
