.logo {
    border-radius: 400px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-left: 80px;
}