.menu-button {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    color: black;
    font-size: 30px;
    font-style: italic;
    line-height: normal;
    margin-top: 45px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;

}

.next-page {
    margin-left: 900px;
    border: 1px solid #EFE71A;
    background-color: #EFE71A;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: red 2px solid;
}

.movie-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 50px;

}

.movie-item {
    border: 5px solid #ececf0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 300px;
    height: 600px;
}

img {
    width: 200px;
    height: 350px;


}

/* .movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */

h3 {
    font-size: 22px;
    gap: 15px;
    align-items: center;


}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    margin-left: 60px;
    text-align: center;

}

.card {
    background-color: white;
    color: black;
    border-radius: 45px;
    padding: 15px;
    width: 210px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: black 1px solid;
}

.card img {
    width: 150px;
    height: 220px;
}